
body { 
    background-color: beige;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header { font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    background: #6a7a88;
  color: #fff;
  float: inline; }

a {
    float: wrap;
    flex-wrap: left; }
img {
    max-width: 10%;
    height: auto; }
h1 {
    float: left;
    margin: 5px;
    padding: 20px;}

aside {
    font-size: 40px;
    flex: 1;
    font-size: 20px;
    background-color: aquamarine;
    padding: 20px;
    }

footer {
    text-align: center;
    font-size: 25pt; }

@media screen and (max-width: 768px) {
        main,
        nav {
          flex-direction: column;
        }
        aside {
          order: 2;
        }
                header {
          background: #772014;
        }
        nav,
        footer {
          background-color: #bb8588;
        }
      }